@tailwind base;
@tailwind components;
@tailwind utilities;

/*Variables*/
:root {
    --black-color: #000;
    --white-color: #fff;
    --font-family: 'Lato', sans-serif;
    --border-color: #d8d6d7;
}
/*Basic css setup code*/
html {
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: auto !important;
    scrollbar-width: thin;
}
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 1.333;
    font-weight: 400;
    width: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    @apply bg-black text-grey;
}
a {
    outline: none;
    text-decoration: none;
    color: var(--black-color);
    display: inline-block;
    transition: var(--transition);
}
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}
.btn:focus {
    box-shadow: none;
}
input[type='submit'] {
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
input,
textarea,
select {
    outline: none;
    resize: none;
    font-family: var(--font-family);
}
a,
input,
button {
    outline: none !important;
}
button::-moz-focus-inner {
    border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: var(--font-family);
    line-height: 1.333;
    color: var(--black-color);
}
img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
}
.slick-slide {
    outline: none !important;
}
input[type='search']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type='search']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
input[type='search'] {
    -webkit-appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search-dropdown input {
    -webkit-appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*code*/
.container {
    @apply mx-auto px-4 w-full max-w-[1312px];
}
